<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Compete</title>
    <link rel="stylesheet" href="static/css/compete.css">
    <link rel="stylesheet" href="./Game page_files/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >
    <link rel="stylesheet" type="text/css" href="static/css/signup.css">

    </head>
    <body>
    <div>
    <div class="bingo">
      <h7 class="bin"><center> BinG </center></h7>
      <img id= "bin1" src="static/css/recyclething1.png" alt="recycle">
    </div>
    <div class = "fix" id = "navbar">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="nav-link" href="/gamepage#">Bingo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="file:///Users/cssi/Bin_Go/learnpage.html#">Learn<span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item active">
        <a class="nav-link" href="/compete">Compete<span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item active">
          <a class="nav-link" href="/aboutus">About<span class="sr-only">(current)</span></a>
      </ul>
    </div>
  </div>
</div>

    <div class="yourMom">
      <div id="box">
    <form method="post">
      Enter Item: <input type="text" name="item" value=""><br>
      Enter Weight: <input type="text" name="weight" value=""><br>
      <h2><button class="start"><center>Submit</center></button></h2>
    </form>
</div>
</div>

    <section>
    <div class="usercontainer">
    <h2>Your Items</h2>
    <div class = "personalscore heading">
      <p>Item</p>
      <p>Weight (lbs)</p>
    </div>
    {%for item in item_list  %}
    <div class="personalscore">
      <p>{{item.item_name}}</p>
      <p>{{item.item_weight}}</p>
    </div>
    {%endfor%}
    </div>



    <div class="leaderboardcontainer">
    <h2>Leaderboard</h2>
    <div class = "personalscore heading">
      <p>Name</p>
      <p>Weight (lbs)</p>
    </div>
    {%for user in all_users %}
    <div class="userscore ">
      <p>{{user.first_name}}</p>
      <p>{{user.lbs_recycled}}</p>
    </div>
    {%endfor%}
  </div>
</section>

  </body>
</html>
