html{
  height: 100%;
}

body{
  background-color: #008080;
  background-image: url("backup.png");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.yourMom{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;

}

#navbar {
  display: flex;
  justify-content: center;
}


#box{
  background:rgba(255, 255, 255, 0.3);

  width: 300px;
  height: 250px;
  padding: 80px;
  /* margin-left: : 450px; */
  /* position: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;


}
.word{
  font-size:40px;
  color: white;
  font-family: "Apple Chancery",cursive;
  font-weight: bold;
  /* font-style: italic; */

}
.words{
  font-size:100px;
  color: white;
  font-family: "Apple Chancery",cursive;
  font-weight: bold;
  font-style: italic;
}



#recycle{
  height:55px;
  padding: 7px;
  padding-top: 30px;

}
.title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;

}

nav{
  background-color: lightpink;
  opacity: 0.9;
  color: white;

}
.navbar-brand{
  margin-left: 350px;
  margin-right: 50px
}
.nav-item{
  margin-right: 50px;
  margin-left: 50px;
}
mr-auto{
  display: flex;
  justify-content: space-evenly;
}
.start{
  /* display: flex; */
  align-items: center;
  background-color:#ff4d4d;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 1;
}
.navbar.center .navbar-inner{
  text-align: center;

}
.navbar.center .navbar-inner .nav{
/* display:inline-block;
float: none;
align-items: center; */
}
.nav-link{
font-family: 'Merriweather', serif;
font-weight: bold;
font-size: 30px;

}
.bin{
  font-size:100px;
  color: white;
  font-family: "Apple Chancery",cursive;
  font-weight: bold;
  font-style: italic;
}
.bingo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;

}
#bin1{
  height:105px;
  padding: 8px;
  width: 80px;
  padding-top: 40px;
}
.fix{
  text-align: center;
}
#box1{
  background:rgba(255, 255, 255, 0.3);

  width: 5000px;
  height: -250px;
  padding: 150px;
  margin: 10px;
  /* position: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}
.word1{
  font-size: 30px;
}
.urMom{
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  margin: 40px;
  /* padding: 7px; */
  padding-left: 7px;
padding-right: 7px;

}

img {
  width: 25%;
  height: 25%;
}
