html{
  height: 100%;
}

body{
  background-color: #008080;
  background-image: url("backup.png");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.yourMom{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 15px;

}
#box{
  background:rgba(255, 255, 255, 0.3);

  width: 300px;
  height: 250px;
  padding: 80px;
  /* margin-left: : 450px; */
  /* position: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;


}
.word{
  font-size:100px;
  color: white;
  font-family: "Apple Chancery",cursive;
  font-weight: bold;
  font-style: italic;

}
.words{
  font-size: 20px;

}

.start{
  /* display: flex; */
  align-items: center;
  background-color:#ff4d4d;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 1;
}

#recycle{
  height:55px;
  padding: 7px;
  padding-top: 30px;

}
.title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;

}
#box1{
  background:rgba(255, 255, 255, 0.3);

  width: 300px;
  height: 250px;
  padding: 80px;
  /* margin-left: : 450px; */
  /* position: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}
.word1{
  font-size: 30px;
}
